* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 920px;
    margin: auto;
}

/* Header */

header {
    height: 60px;
    background-color: #ff6900;
    position: fixed;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container>* {
    height: 100%;
}

.logo img {
    height: 30px;
}

.genre ul {
    display: flex;
    list-style: none;
    color: white;
    column-gap: 0.5rem;
    font-weight: bold;
}

li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.icon i {
    color: white;
    padding: 0.25rem;
    cursor: pointer;
}

/* Main */
main {
    margin-top: 90px;
}

.card-layout {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-between;
}

.card {
    max-width: 32%;
    margin-bottom: 2rem;
}

.img-container img {
    width: 100%;
}

.img-container {
    position: relative;
}

.heart {
    position: absolute;
    background-color: white;
    padding: .3rem .5em;
    right: 0%;
    top: 10px;
    font-size: 2rem;
}

.pros {
    position: absolute;
    bottom: 30px;
    left: 0px;
}

.pros>span {
    display: inline-block;
    padding: 0.25rem 0.5rem;
}

.pros>span:last-child {
    background-color: green;
    color: white;
}

.pros>span:first-child {
    background-color: red;
    color: white;
}


.discount {
    font-weight: bold;
    color: red;
}

.list-price {
    text-decoration: line-through;
}

#green-bg {
    background-color: green;
}

/* Footer */
footer {
    background-color: #1a1a1a;
    height: 100px;
    margin-bottom: 2px;
    display: flex;
}

footer .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.info-booleando span {
    padding: .5rem .5rem .5rem 0rem;
}

.info-booleando span:hover {
    text-decoration: underline;

}

.social {
    text-align: left;
}

.social span {
    font-weight: bold;
    display: block;

}

.social a i {
    font-size: 20px;
    padding: .25rem;
    color: white;
}